@charset "UTF-8";
/*Configuraçoes Globais */
* {
  margin: 0;
  padding: 0;
  font-family: "Tahoma" sans-serif;
}

div {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
p {
  margin: 10px auto;
  width: 980px;
  text-align: justify;
  font-size: 18px;
  line-height: 28px;
}
span {
  font-weight: bold;
}
.texto-azul {
  color: #1d80c1;
}
.texto-amarelo {
  color: #fff81b;
}
/*Área Cabeçalho com Menu*/
header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.cabecalho {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #afddfb;
  padding: 1px;
}
.cabecalho img {
  width: 150px;
  cursor: pointer;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}
nav a {
  padding: 7px;
  font-size: 1.3em;
  color: #1d1d1d;
  text-decoration: none;
  font-weight: 600;
}
nav a:hover {
  cursor: pointer;
  color: #1d80c1;
  font-weight: bold;
}
#menu-hamburguer {
    display: none;
}
/*Área Principal*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}
figure img {
  width: 100%;
  
}
.secao2 {
  margin-top: 50px;
  padding-top: 0px;
}
/*3ª Seção*/
.secao3 h1 {
  color: #1d1d1d;
  margin-bottom: 5px;
}
.secao3 h2 {
  color: #1c81c0;
  margin-top: 0px;
  font-weight: normal;
}
/*4ª Seção*/
.secao4 {
  background-color: #1d80c1;
}
.secao4 h2 {
  color: #ffffff;
  font-size: 28px;
  line-height: 42px;
}
.secao4 p {
  width: 700px;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  line-height: 42px;
}
.secao4 ul {
  width: 135px;
  margin: 40px auto;
  color: #ffffff;
  line-height: 42px;
  font-size: 22px;
  text-align: left;
}
/*5ª Seção*/
.secao5 h2 {
  color: #1c81c0;
  margin-top: 0px;
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
}
.secao5 img {
  width: 450px;
}
/*6ª Seção*/
.secao6 {
  background-color: #1d80c1;
}
.secao6 iframe {
  width: 550px;
  height: 270px;
}
.secao6 h2 {
  color: #ffffff;
  font-size: 28px;
  line-height: 42px;
}
.secao6 p {
  color: #ffffff;
  background-color: #1d1d1d;
  margin-top: 30px;
  padding: 15px;
}
.secao6 ul {
  width: 210px;
  margin: 40px auto;
  text-decoration: none;
}
.secao6 li {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}
.secao6 a {
  background-color: #ffffff;
  color: #1d80c1;
  padding: 2px 5px;
  border-radius: 5px;
}
@media (max-width: 400px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    font-size: 0.8em;
  }
}
@media (max-width: 400px){
    #menu-hamburguer{
        display: none;
    }
}
@media (max-width: 400px) {
  .cabecalho img {
    width: 120px;
  }
}
@media (max-width: 400px) {
    figure img {
        height: 210px;
    }
}

