@charset "UTF-8";

/*Fontes*/
@font-face {
  font-family: fonte-principal;
  src: url("../Fontes/CaviarDreams_Italic.ttf");
}
@font-face {
  font-family: fonte-secundaria;
  src: url("../Fontes/ELEGANT\ TYPEWRITER\ Regular.ttf");
}
@font-face {
  font-family: fonte-subtitulos;
  src: url("../Fontes/CreatoDisplay-Black.otf");
}
@font-face {
  font-family: fonte-paragrafos;
  src: url("../Fontes/CreatoDisplay-RegularItalic.otf");
}
/*Configuraçoes Globais */
* {
  margin: 0;
  padding: 0;
}
.texto-azul {
  color: #00008b;
}
.texto-amarelo {
  color: #fde910;
}
.texto-vermelho {
  color: #8b0000;
  font-weight: bold;
}
h1 {
  font-family: fonte-secundaria, sans-serif;
  font-size: 1.7em;
  text-align: center;
}
h2 {
  font-family: fonte-subtitulos;
  font-size: 1.2em;
  padding: 7px;
}
p {
  font-family: fonte-paragrafos;
  font-size: 1em;
  padding: 10px;
}
figure .imagem-secundaria {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.imagem-secundaria img {
  display: flex;
  width: 60%;
  height: auto;
  margin: 7px auto;
  border-radius: 1%;
  box-shadow: 5px 3px 5px 3px #b0c4de;
}

/*Área Cabeçalho com Menu*/
header {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cabecalho {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1px;
}
.cabecalho img {
  width: 150px;
  cursor: pointer;
}
/*Fim Cabecalho*/
/*---------------------------------*/
/*Inicio Menu*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}
nav a {
  padding: 7px;
  font-size: 2em;
  font-family: fonte-principal;
  color: #1d1d1d;
  text-decoration: none;
  font-weight: 600;
}
nav a:hover {
  cursor: pointer;
  color: #1d80c1;
  font-weight: bold;
}
#menu-hamburguer {
  display: none;
}
/*Fim Menu*/
/*---------------------------------*/
/*Inicio Área Principal*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #afddfb;
}
main h2 {
  font-size: 1.4em;
  color: #191970;
  text-align: center;
}
figure #imagem-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}
#imagem-principal {
  display: flex;
  width: 100vw;
  margin: 7px auto;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2em;
}
#servicos {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #111;
  color: #fff;
}
#servicos-titulo {
  color: #fff;
}
#corretores {
  padding-top: 14px;
}
iframe {
  width: 100%;
  height: 300px;
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #111;
  color: #191970;
  background-color: #fbec5d;
  margin-top: 10px;
  text-align: center;
}
footer li,
a {
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: #111;
}
#footer-fim li {
  padding-bottom: 24px;
}
#menu-hamburguer {
  cursor: pointer;
}
/*Medias Queries*/

/*Tela até 320px*/
@media (max-width: 320px) {
  #imagem-principal {
    display: flex;
    width: 60%;
    height: auto;
    margin: 7px auto;
  }
}
@media (max-width: 320px) {
  nav a {
    padding: 7px;
    font-size: 1.2em;
    font-family: fonte-principal;
    color: #1d1d1d;
    text-decoration: none;
    font-weight: 600;
  }
}
@media (max-width: 320px) {
  #menu-hamburguer {
    display: block;
  }
}
@media (max-width: 310px) {
  #imenu {
    display: none;
  }
}
/*Tela até 480px*/
@media only screen and (orientation: landscape) {
  figure {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
}
@media only screen and (orientation: landscape) {
  figure img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
}
@media (max-width: 480px) {
  main {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #imagem-principal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
  }
}
@media (max-width: 480px) {
  nav a {
    padding: 7px;
    font-size: 1.2em;
    font-family: fonte-principal;
    color: #1d1d1d;
    text-decoration: none;
    font-weight: 600;
  }
}
@media (max-width: 480px) {
  #menu-hamburguer {
    display: block;
  }
}
@media (max-width: 480px) {
  #imenu {
    display: none;
  }
}
