@charset "UTF-8";

@font-face {
  font-family: fonte-principal;
  src: url("../Fontes/CaviarDreams_Italic.ttf");
}
@font-face {
  font-family: fonte-secundaria;
  src: url("../Fontes/ELEGANT\ TYPEWRITER\ Regular.ttf");
}
@font-face {
  font-family: fonte-subtitulos;
  src: url("../Fontes/CreatoDisplay-Black.otf");
}
@font-face {
  font-family: fonte-paragrafos;
  src: url("../Fontes/CreatoDisplay-RegularItalic.otf");
}
/*Configuraçoes Globais */
* {
  margin: 0;
  padding: 0;
}
.texto-azul {
  color: #00008b;
}
.texto-amarelo {
  color: #fde910;
}
h1 {
  font-family: fonte-secundaria, sans-serif;
  font-size: 1.7em;
  text-align: center;
}
h2 {
  font-family: fonte-subtitulos;
  font-size: 1.2em;
  padding: 7px;
}
p {
  font-family: fonte-paragrafos;
  font-size: 1em;
  padding: 10px;
}
figure .imagem-secundaria {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagem-secundaria img {
  display: flex;
  width: 60%;
  height: auto;
  margin: 7px auto;
  border-radius: 1%;
  box-shadow: 5px 3px 5px 3px #b0c4de;
}

/*Área Cabeçalho com Menu*/
header {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.cabecalho {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1px;
}
.cabecalho img {
  width: 150px;
  cursor: pointer;
}
/*Fim Cabecalho*/
/*---------------------------------*/
/*Inicio Menu*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}
nav a {
  padding: 7px;
  font-size: 1.7em;
  font-family: fonte-principal;
  color: #1d1d1d;
  text-decoration: none;
  font-weight: 600;
}
nav a:hover {
  cursor: pointer;
  color: #1d80c1;
  font-weight: bold;
}
#menu-hamburguer {
  display: none;
}
/*Fim Menu*/
/*---------------------------------*/
/*Inicio Área Principal*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #afddfb;
}
main h2 {
  font-size: 1.4em;
  color: #191970;
  text-align: center;
}
figure #imagem-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}
#imagem-principal {
  display: flex;
  width: 100vw;
  margin: 7px auto;
  border-radius: 10%;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2em;
}
#servicos {
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: #fff;
}
iframe {
  width: 100%;
  height: 300px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: #191970;
  background-color: #fbec5d;
  margin-top: 10px;
  text-align: center;
}
footer li,
a {
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: #111;
  padding: 1px;
}
@media (max-width: 400px) {
  #menu-hamburguer {
    display: none;
  }
}
